<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Backend.Properties.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HabiticaSimpleToDo.Properties.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Backend.Properties.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="HabiticaSimpleToDo.Properties.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
        <Backend.Properties.settings>
            <setting name="userID" serializeAs="String">
                <value></value>
            </setting>
            <setting name="apiToken" serializeAs="String">
                <value></value>
            </setting>
        </Backend.Properties.settings>
        <HabiticaSimpleToDo.Properties.settings>
            <setting name="userID" serializeAs="String">
                <value />
            </setting>
            <setting name="apiToken" serializeAs="String">
                <value />
            </setting>
        </HabiticaSimpleToDo.Properties.settings>
    </userSettings>
    <applicationSettings>
        <Backend.Properties.settings>
            <setting name="xClient" serializeAs="String">
                <value>cad55190-ea6a-42ba-a5df-bdb099117363-SharpTodo</value>
            </setting>
        </Backend.Properties.settings>
        <HabiticaSimpleToDo.Properties.settings>
            <setting name="xClient" serializeAs="String">
                <value>cad55190-ea6a-42ba-a5df-bdb099117363-SharpTodo</value>
            </setting>
        </HabiticaSimpleToDo.Properties.settings>
    </applicationSettings>
</configuration>
